.auth-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef2f3;
}

.auth-box {
  width: 400px;
  padding: 35px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.12);
}

.auth-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

.auth-input {
  width: 93.6%;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: royalblue;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 17px;
  margin-top: 10px;
}

.auth-btn:hover {
  background: #0b47d1;
}
